*{
    margin: 0%;
    padding: 0%;
}
.main-class{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.form{
    display: flex;
    flex-direction: column;
    width: 290px;
    gap: 10px;
}

.create-btn{
    background-color: #A94064;
    border: none;
    padding: 5px;
    color: white;
    border-radius: 3px;
}

.signup-btn{
    background-color: white;
    border-color: rgb(174, 173, 173);
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
}