
body{
    
    background-color: rgb(233, 233, 247);
}
.main-class{
    align-items: center;
    justify-content: center;
    display: grid;
    flex-direction: column;
}

.form{
    display: flex;
    flex-direction: column;
    width: 290px;
    gap: 10px;
}

.form input{
    border: 1px solid rgb(175, 175, 175);
    outline: none;
    margin-bottom: 10px;
    padding: 5px;
}

.create-btn{
    background-color: #A94064;
    border: none;
    padding: 5px;
    color: white;
    border-radius: 3px;
}

.signup-btn{
    background-color: white;
    border-color: rgb(174, 173, 173);
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}