.card {
    width: 300px;
    border: none;
    flex: 0 0 auto;
    transition: 0.5s;
    position: relative;
  }

  .card:hover{
    transform: scale(1.05);
    transition: 0.3s;
    box-shadow:  2px 2px 10px rgb(179, 179, 179);
  }

  @media screen and (max-width:768px){
    .card{
      width: 250px;
    }
    .card:hover{
      transform: scale(1.05);
      transition: 0.3s;
      box-shadow:  3px 3px 13px rgb(179, 179, 179);
    }
  }

  .off{
    position: absolute;
    margin-top: -279px;
    background-color: #A94064;
    border-radius: 4px;
    margin-left: 6px;
    width: 3rem;
    height: 1.9rem;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
  }
  
.like-btn{
  position: absolute;
    margin-top: -271px;
    background: none;
    border: none;
    margin-left: 250px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
}

.like-btn.liked {
  background-color: red;
}
  
  
  .card-img {
    border-radius: 0%;
    height: 290px;
  }
  
  .add-button {
    background-color: black;
    width: auto;
    border: none;
    border-radius: 0%;
  }

  .add-button:hover{
    background-color: #A94064;
    transition: all 0.5s ease;
  }

  
  