.menu-img {
  display: flex;
}

/* .menu-container {
  margin-left: 7%;
} */

.menu-img img {
  width: 80%; 
  height: 430px;   
  display: block; 
  margin: 0 auto; 
}

@media screen and (max-width:768px){
  .menu-img img {
    width: 100%;
    height: auto;
  }

}
.card-container {
  display: flex;
  gap: 9px;
  overflow-x: auto; 
  /* margin-left: 7%; */
  padding: 20px;
  white-space: nowrap;
}

.card-container::-webkit-scrollbar {
  display: none;
}

.view-all-container {
  display: flex;
  align-items: center;  
  justify-content: center; 
  margin: 6px;
}

.view-all-button {
  background-color: #A94064;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 2px;
  width: 18rem;
}
